<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>limitados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">limitados</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      
      <ion-tab-button>
        <ion-label><b>Jugadas</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="limitados">
        <ion-label><b>Limitados</b></ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
