<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>Inicio de Seccion</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="text" [(ngModel)]="miFormulario.telefono"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="miFormulario.password"></ion-input>
      </ion-item>
  
      <br>
  
      <ion-button expand="full" (click)="login()">Inicair secion</ion-button>
      <br>
      <ion-button expand="full" [routerLink]="[ '/registrar']">Registrarse</ion-button>
    </form>
  </div>


</ion-content>
