<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>Operaciones</b></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">operaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list>
        <ion-item>
          <b>Cerrar sesion</b>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    
  </div>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      
      <ion-tab-button tab="operaciones">
        <ion-icon name="bulb"></ion-icon>
        <ion-label style="font-size: 15px; margin: 5px;"><b>Numeros</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="jugadas">
        <ion-icon name="dice"></ion-icon>
        <ion-label style="font-size: 15px; margin: 5px;"><b>Jugadas</b></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="limitados">
        <ion-icon name="cut"></ion-icon>
        <ion-label style="font-size: 15px; margin: 5px;"><b>Limitados</b></ion-label>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>

</ion-content>
