<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial-centena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial-centena</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="text-align: center;">
    <ion-datetime-button disabled="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal> 
  </div>
  <br>

  <ion-list >
    <ion-item-group>
      <ion-item-divider color="warning">
        <h5 style="text-align: center; color: black;"><b>Jugadas con Centenas</b></h5>
      </ion-item-divider>
      <ion-item-divider color="success">


        <h5 style="text-align: center; color: black;" *ngFor="let dinero of variables.dineroTotal">
          <ion-icon name="cash"></ion-icon> 
          <b>  Bruto: {{ dinero.Total }}</b>
        </h5>

        &nbsp;&nbsp;&nbsp;&nbsp;

        <h5 style="text-align: center; color: black;" *ngFor="let dinero of variables.dineroTotal">
          <ion-icon name="cash"></ion-icon> 
          <b>  Limpio: {{ dinero.Limpio }}</b>
        </h5>

      </ion-item-divider>
      
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col><b>Cen</b></ion-col>
            <ion-col><b>Tel</b></ion-col>
            <ion-col><b>Estado</b></ion-col>
            <ion-col><b>Dinero</b></ion-col>
            <ion-col><b>Borrar</b></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let centena of variables.historialJugadasCentena">
        <ion-grid>
          <ion-row>
            <ion-col>{{centena.Centena}}</ion-col>
            <ion-col>{{centena.Telefono}}</ion-col>
            <ion-col>{{centena.Estado}}</ion-col>
            <ion-col>{{centena.Dinero}}</ion-col>

            <ion-button color="danger" (click)="delCentena(centena.idJugada)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>

          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>
  
</ion-content>
