<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DCuba
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <div id="container">
    <div>
      <h3>Que empiezen el juego</h3>
    </div>
    <img src="../../../assets/web/numeros-de-lacharada.jpg" alt="inicio" width="250px" height="250px">

    <a [routerLink]="[ '/informacion']"><ion-button expand="block">Empezar</ion-button></a>
    
  </div>

</ion-content>
