<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Premios</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><b>Premios</b></ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <div style="text-align: center;">
    <ion-datetime-button disabled="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
  <br>

  <ion-list >
    <ion-item-group>
      <ion-item-divider color="warning">
        <h5 style="text-align: center; color: black;"><b>Premios Fijos</b></h5>
      </ion-item-divider>
      <ion-item-divider color="success">
        
        <h5 style="text-align: center; color: black;" *ngFor="let dinero of variables.dineroTotal">
          <ion-icon name="cash"></ion-icon> 
          <b>  Bruto: {{ dinero.Total }}</b></h5>

          <h5 style="text-align: center; color: black;" *ngFor="let dinero of variables.dineroTotal">
            <ion-icon name="cash"></ion-icon> 
            <b>  Limpio: {{ dinero.Limpio }}</b></h5>
            
      </ion-item-divider>
      
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col><b>#</b></ion-col>
            <ion-col><b>Tel</b></ion-col>
            <ion-col><b>Estado</b></ion-col>
            <ion-col><b>Dinero</b></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let premios of variables.premiosJugadasNormalesDias">
        <ion-grid>
          <ion-row>
            <ion-col>{{premios.idNumero}}</ion-col>
            <ion-col>{{premios.Telefono}}</ion-col>
            <ion-col>{{premios.Estado}}</ion-col>
            <ion-col>{{premios.Dinero}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let premios of variables.premiosJugadasNormalesNoches">
        <ion-grid>
          <ion-row>
            <ion-col>{{premios.idNumero}}</ion-col>
            <ion-col>{{premios.Telefono}}</ion-col>
            <ion-col>{{premios.Estado}}</ion-col>
            <ion-col>{{premios.Dinero}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

