<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">resumen</ion-title>
    </ion-toolbar>
  </ion-header> 
    <ion-button expand="full" class="botones" [routerLink]="[ 'jugadas']"> Jugadas </ion-button>
    <br>
    <ion-button expand="full" class="botones" [routerLink]="[ 'parles']"> Parles </ion-button>
    <br>
    <ion-button expand="full" class="botones" [routerLink]="[ 'centenas']"> Centenas </ion-button>
    <br>  
</ion-content>
