<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>numeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">numeros</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div style="text-align: center;">
    <br>
    <ion-datetime-button disabled="true" datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
    <br>
  </div>
  <hr>
  <div style="text-align: center;">
    <h2 style="text-align: center;"><b>Mediodia</b></h2>
    <h4 style="text-align: center;"><b>Fijo</b></h4>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let dia of variables.numerosDias" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{dia.Centena}}
          </ion-label>
        </ion-col>

        <ion-col *ngFor="let dia of variables.numerosDias" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{dia.idNumero}}
          </ion-label>
        </ion-col>
      </ion-row>
      <br>
      <h4 style="text-align: center;"><b>Corrido</b></h4>
      <br>
      <ion-row>
        <ion-col *ngFor="let dia of variables.numerosDias" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{dia.numeroCorrido1}}
          </ion-label>
        </ion-col>

        <ion-col *ngFor="let dia of variables.numerosDias" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{dia.numeroCorrido2}}
          </ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
  
  <hr>
  
  <div style="text-align: center;">
    <h2 style="text-align: center;"><b>Noche</b></h2>
    <h4 style="text-align: center;"><b>Fijo</b></h4>
    <br>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let noche of variables.numerosNoches" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{noche.Centena}}
          </ion-label>
        </ion-col>

        <ion-col *ngFor="let noche of variables.numerosNoches" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{noche.idNumero}}
          </ion-label>
        </ion-col>
      </ion-row>
      <br>
      <h4 style="text-align: center;"><b>Corrido</b></h4>
      <br>
      <ion-row>
        <ion-col *ngFor="let noche of variables.numerosNoches" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{noche.numeroCorrido1}}
          </ion-label>
        </ion-col>

        <ion-col *ngFor="let noche of variables.numerosNoches" style="background-color: white; margin: 10px;">
          <ion-label class="numeros">
            {{noche.numeroCorrido2}}
          </ion-label>
        </ion-col>
        </ion-row>
    </ion-grid>
  </div>

</ion-content>
